@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 
    'Ubuntu',   sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  margin: 5px;
}

.conatiner-fluid  {
  margin-left:40%;
  margin-top:40px
}
